* {
  margin: 0;
  padding: 0;
}
.img-container {
  display: flex;
  gap: 10px;
}
.images {
  flex-grow: 1;
  width: 150px;
}

@media screen and (max-width: 750px) {
  .img-container {
    flex-wrap: wrap;
  }
}
